---
import Layout from '../layouts/Page.astro';
import Container from '../components/Container.astro';


const seo = {
  title: "Astro Minimal Starter",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
}
---

<Layout seo={seo}>
  <Container>
    <h1>Astro Sanity Minimal Starter</h1>
    
 <p>que bueno todo</p>

    <h2>Features</h2>
    <ul>
      <li>A customizable headless CMS with <a href="https://sanity.io">Sanity.io</a></li>
      <li>Excellent SEO Built In</li>
      <li>Open Graph Tags (Twitter, Facebook, etc.)</li>
      <li>User Declared Canonical URLs</li>
      <li>RSS Feed</li>
      <li>XML Sitemap</li>
      <li>Robots.txt</li>
      <li>JSON LD Schema</li>
    </ul>

    <a href="/blog">Blog →</a>
  </Container>
</Layout>