@import url('./reset.css');

:root {
  --container-max-width: 1200px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;
}

html,
body {
  
  margin: auto;
  width: 70ch;
  padding: 10px;
  background: #000000;
  text-align: left;
  color: #ffffff;
  display: flex;
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 0.5rem;
}

/* /* @media (min-width: 800px) {
  body {
    margin-right: 90rem;
  }
} */
