@import url('./reset.css');

:root {
  --container-max-width: 1200px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;
}

html,
body {
  
  margin-right: auto;
  margin-left: 10%;
  width: 50ch;
  padding: 2px;
  background: #000000;
  color: #ffffff;
  display: flex;
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 0.5rem;
}

/* /* @media (min-width: 800px) {
  body {
    margin-right: 90rem;
  }
} */

@media ( max-width: 799px) {
  body {
    margin: auto;
  }
} 